@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.video-player {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16/9;
}

.tooltip {
  @apply invisible absolute right-0 bottom-0;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.has-tooltip {
  @apply relative;
}