@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.video-player {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16/9;
}
